:root {
  --color-soft-light: #ffffff2c;
  --color-soft-lighter: #ffffff38;
  --color-background: #04223c;
  --color-background-dark: #021323;
  --color-text: #fff;
  --color-dark: #000;
  --color-offtext: #dddddd;
  /* accent-color: #c00020; */
}

* {
  font-family: Verdana, "Nunito", "Open Sans", Helvetica, Arial;
  box-sizing: border-box;
}

a {
  color: var(--color-text);
}

body {
  margin: 0;
  background-color: var(--color-background);
  /*
  background-image: url("./assets/react-watermark.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 50rem;
  */
  color: var(--color-text);
}

pre {
  background-color: var(--color-background-dark);
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  display: inline-block;
}

.spacer {
  max-width: 80rem;
  padding-inline: 2rem;
  margin: 0 auto;
}
